.banner{
    position: relative;
    z-index: -1;  
    background-color: black;
}

.banner-title{
    filter:none;
    z-index: 1;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.2vmax rgb(0, 0, 0);
}

@media (max-width: 768px) {
    img{
        top: 0;
    }

}

