.banner {
    position: relative;
    z-index: -1;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items horizontally */
    margin-top: 60px;
}

.banner-title {
    filter: none;
    z-index: 1;
    color: rgb(255, 255, 255);
    font-size: 9vmax;
    animation: colorChange 5s infinite;
    margin: 0; /* Remove default margin */
}

.banner-subtitle {
    filter: none;
    z-index: 1;
    color: rgb(255, 255, 255);
    font-size: 4vmax;
    margin-top: 1vmax; 
}

@media (max-width: 600px) {
    img {
        top: 0;
    }

    .banner-title {
        margin-top: 11vmax;
    }
}

