.img-parent{
    position: relative;
    
}

img {
  border-radius: 1%;
}

.card{
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 10px rgba(0, 0, 0, 0.19);
    width: 80%;
    margin-left: 10%;
  }

.text-container{
    margin:10%;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

@media (max-width: 768px) {
    img{
        display: none;
    }
    .grid2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
}