*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

/*text----------------------------------------------*/

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    margin: 1em;
}

h2 {
    margin: 1em;
    size: 200px;
}

.title1 {
  font-size: 4vmax;
}
  
.title2{
    font-size: 3vmax;
}

.title3{
  font-size: 2vmax;
}

a{
  font-weight: bold;
}

p{
  font-size: 1vmax;
}


/*Grid System---------------------------------------------------*/

.grid {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    grid-gap: 20px;
  }
  
  .gridi {
    flex-basis: calc(25% - 10px);
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .gridi-center {
    grid-column: 2/4;
  }
  
  .gridi-sidebar{
    grid-row: 1/5;
  }

  /*Container-------------------------------------*/
  .container{
    margin-left: 10px;
  }

  /*Images------------------------------------------------------*/
  img{
    height: auto;
  }


  /*Responsive-----------------------------------------*/
 @media (max-width: 768px) {
  .gridi-sidebar{
    display: none;
  }

  .grid{
    display:contents;
  }
  
}






  