*{
    margin-top: 0;
    padding: 0;
    font-family: "ChakraPetch";
}

html {
  scroll-behavior: smooth;
}

/*text----------------------------------------------*/

@font-face {
  font-family: 'ChakraPetch-Bold';
  src: url('..//media/ChakraPetch-Bold.ttf') format('truetype');
  /* Add more src declarations for different font file types if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChakraPetch-BoldItalic';
  src: url('..//media/ChakraPetch-BoldItalic.ttf') format('truetype');
  /* Add more src declarations for different font file types if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChakraPetch';
  src: url('..//media/ChakraPetch-Regular.ttf') format('truetype');
  /* Add more src declarations for different font file types if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChakraPetch-Italic';
  src: url('..//media/ChakraPetch-Italic.ttf') format('truetype');
  /* Add more src declarations for different font file types if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('..//media/Montserrat-Black.ttf') format('truetype');
  /* Add more src declarations for different font file types if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url('..//media/Montserrat-BlackItalic.ttf') format('truetype');
  /* Add more src declarations for different font file types if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TextMeOne';
  src: url('..//media/TextMeOne-Regular.ttf') format('truetype');
  /* Add more src declarations for different font file types if needed */
  font-weight: normal;
  font-style: normal;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    margin: 9vmax
}

.title1 {
  font-size: 4vmax;
  font-family: 'ChakraPetch-BoldItalic';
}
  
.title2{
    font-family: "Montserrat-Italic";
    font-size: 3vmax;
    margin: 2em;
  font-weight: bold;
}

.title3{
  font-family: "TextMeOne";
  font-size: 2vmax;
  margin: 1em;
  font-weight: bold;
}

.title4{
  font-family: "Montserrat";
  font-size: 1.5vmax;
  
}

a{
  font-family:"ChakraPetch-BoldItalic";
  color: rgb(0, 0, 0);

}

p{
  font-size: 1.5vmax;
}


/*Grid System---------------------------------------------------*/

.grid {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    grid-gap: 20px;
  }
  
  .gridi {
    flex-basis: calc(25% - 10px);
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .gridi-center {
    grid-column: 2/4;
  }
  
  .gridi-sidebar{
    grid-row: 1/5;
  }

  /*flex-------------------------------*/

  .flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flex-ignore{
    display: none;
  }



  /*Container-------------------------------------*/
  .container{
    margin-left: 20px;
  }

  /*Images------------------------------------------------------*/
  img{
    height: fit-content;
  }

    .carousel{
      height: 100%;
      z-index: -1;
    }
 


  /*Responsive-----------------------------------------*/
 @media (max-width: 768px) {
  body{
    padding-top: 0;
  }

  .gridi-sidebar{
    display: none;
  }

  .grid{
    display:contents;
  }

  .gridi {
    flex-basis: calc(25% - 10px);
    padding: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  /*text----------------------------------------------*/

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.home{
  margin-top: 10;
}

h1 {
  margin: 1em;
}

h2 {
  margin: 1em;
  size: 200px;
}

.title1 {
font-size: 5vmax;
}

.title2{
  font-size: 4vmax;
}

.title3{
font-size: 3vmax;
}

.title4{
  font-family: "Montserrat";
  font-size: 2.5vmax;
  
  
}

a{
font-weight: bold;
color: black;
}

p{
font-size: 2vmax;
}
  
}






  