* {
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  width: 100%;
  background-color: transparent;
  box-shadow: -2px -2px 5px white, 2px -2px 5px white;
  z-index: 1000;
  transition: top 0.3s;
}

#container.hide {
  top: -60px; /* Adjust based on navbar height */
}

#container.show {
  top: 0;
}

#container>nav {
  width: 100%;
  display: flex;
  justify-content: center; /* Center align items horizontally */
  align-items: center; /* Center align items vertically */
  max-height: 60px;
}

#logo {
  line-height: 60px;
  font-size: 30px;
  margin: 5px 50px;
  display: flex;
  justify-content: center;
  color: white;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px;
  position: fixed; /* Make the logo fixed */
  top: 0;
  left: 0;
  z-index: 1000;
}

#container>nav>ul {
  margin: 0;
  margin-top: 20px;
  padding: 0 5px;
  list-style-type: none;
  display: flex;
  justify-content: center; /* Center align items horizontally */
  align-items: center; /* Center align items vertically */
  background-color: black;
  border: transparent 3px solid;
  border-radius: 20px; /* Adjust border-radius for a more traditional look */
  z-index: 1001;
  position: relative; /* Ensure the dropdowns are positioned relative to this */
}

#container>nav>ul>li {
  line-height: 3vh;
  margin: 5px 8px; /* Add some margin between items */
  padding: 0;
  text-align: center;
  display: inline-block;
  flex-shrink: 10;
  white-space: nowrap;
  overflow: hidden;
}

#container>nav>ul>li>a {
  position: relative;
  padding: 0px 20px;
  color: white;
}

#container>nav>ul>li:hover,
.active {
  background-color: #009607;
  border-radius: 5px; /* Adjust border-radius for a more traditional look */
  position: sticky;
  transition: all 0.3s ease;
}

#container>nav>ul>.dropdown:hover {
  border-bottom: none;
}

#container>nav>ul>.dropdown:hover>.dd {
  display: block;
  padding: 0.4em;
}

.dropdown:hover>a .fa-caret-down {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

#container>nav>ul>li>div {
  position: absolute;
  padding: 0 10px;
  background-color: transparent;
  display: none;
  background-color: rgba(147, 236, 147, 0.753);
  width: 123px;
}

#container>nav>ul>li>div>ul {
  margin: 0px 0 10px 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

#u_a_c {
  position: relative;
  width: 100%;
  /*   background-color:red; */
}

#container>nav>ul>li>div>ul>li:hover {
  background-color: rgba(255, 255, 255, 0.849);
  transition: all 0.5s ease;
}

#container>nav>ul>li>div>ul>li>a {
  padding: 20px;
  color: black;
}

.sticky {
  position: fixed;
  top: 0;
  background-color: transparent;
}

.link {
  width: 100%;
  height: 100%;
}

/*Burger Menu
*/

.bgButton {
  position: fixed;
  bottom: 0;
  right: 45%;
  font-size: xx-large;
  font-weight: 1000;
  background-color: transparent;
  border: none;
}

@media (max-width: 660px) {
  #logo>a>img {
    width: 0%;
  }

  #container>nav>ul>li>a {
    font-size: 0.8em;
    padding: 5px;
  }

  #container>nav {
    justify-content: center;
    align-items: center;
  }

  #container>nav>ul {
    right: auto;
  }
}