.reference {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7vmax;

  }
  
  .reference-content {
    width: 10vmax;
    height: 10vmax;
    border: black 1vmax outset;
    border-radius: 100%;
    display: flex;
    padding: 0vmax;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;
  }

  .reference-footer{
    margin-top: 10px;
    
  }
  
 