.sidebar {
    position: fixed;
    top: 60px;
    height: 100vh;
        width: 11vmax; /* adjust as needed */
    background-color: #f1f1f1;
    padding: 20px 5px 10px 10px;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 10px rgba(0, 0, 0, 0.19);
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar li {
    font-size: 0.5vmax;
    margin-bottom: 10px;
  }
  
  .sidebar a {
    font-size: 1vmax;
    text-decoration: none;
    color: #333;
  }

  .subpoint{
    margin-left: 1em;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
  }
  
